@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.App {
  display: flex;
  text-align: center;
  font-size: medium;
  color: rgb(192 192 192);
  width: 100%;
  background-color: #1a1c24;
  min-height: 100vh;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat-window{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: #282c34;
  width: 18rem;
  position: relative;
  height: calc(100vh - 5rem);

}



.chat-bottom form{
  display: flex;
  width: auto;
  color: azure;
  padding: 4px;
}

.chat-bottom form input{
  color: aliceblue;
  width: 14rem;
  height: 1.5rem;
  padding: 3px;
  outline: none;
  border: none;
  background-color: rgb(20 20 25);
}

.chat-bottom form input::placeholder{
  color: #282c34;
}

.chat-bottom button{
  flex-grow: 1;
  width: 3rem;
  height: calc(1.5rem + 6px);
  color: azure;
  outline: none;
  border: none;
  background-color: rgb(20 20 25);
  cursor: pointer;
}


/* .numbers{
  position: absolute;
  height: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin: 0;
  justify-content: end;
  background-color: rgb(255, 255, 255);
  height: 140%;

} */

.chat-messages{
  overflow-y: scroll;
  height: 100%;
  padding: 0.2em;
}

.chat-messages::-webkit-scrollbar {
  width: 7px;
}
 
.chat-messages::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.chat-messages::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20rem;
  /* outline: 1px solid slategrey; */
}

.single-message{
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.user{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.stranger{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.message-user-id{
  font-size: xx-small;
  margin: 0;
  color: #868686;
}

.message-content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  border-radius: 18px;
  padding: 0.8rem;
  max-width: 75%;
  text-align: left;
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  word-break: break-word;
}

.user .message-content{
  background-color: rgb(0, 132, 255);
  color: #FFFFFF;
}

.stranger .message-content{
  background-color: rgb(173, 173, 173);
  color: #252525;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.betting{
  width: 90%;
  height: 3rem;

}

.bettable{
  background-color: greenyellow;
}

.bettablent{
  background-color: rgb(128, 18, 18);
}

.bets-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.bet{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  min-height: 5rem;
  background-color: #353b47;
}

.placed-bets-container{
  width: 80rem;
  display: flex;
  padding: 3rem;
  justify-content: space-around;
}

.btn-hidden{
  display: none;
}

.bet-container{
  width: 30%;
  overflow: hidden;
  position: relative;
  border-radius: 0.4rem 0.4rem 0.3rem 0.3rem;
  transition: 0.5s;

}

.bet-color-header{
  width: 100%;
  padding: 2rem;
  outline: none;
  border: 0px;
}


.bet-btn-main{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  cursor: pointer;
  /* border-radius: 0.3rem 0.3rem 0 0; */
  transition: 0.2s;
}




.bet-header-Red{
  /* background: linear-gradient(22deg, rgba(154,19,19,1) 0%, rgba(83,12,12,1) 100%); */
  background-color: #FF3131;
}
.bet-header-Green{
  /* background: linear-gradient(22deg, rgba(137,222,105,1) 0%, rgba(81,115,71,1) 100%); */
  background-color: #3D892A;
}
.bet-header-Black{
  /* background: linear-gradient(22deg, rgba(36,37,56,1) 0%, rgba(18,20,34,1) 100%); */
  background-color: #545454;
}

/* .win-effect{
  background-color: goldenrod;
} */

.bets-closed{
  filter: grayscale(50%);
  cursor: not-allowed;
}

.bet-container-winning{
  scale: 1.1;
  filter: grayscale(0%);
  transition: 0.5s;
}


.bet-color-header{
  padding: 1.4rem;
  border-radius: 0.4rem;
  background-color: #252525;
  margin-bottom: 2rem;
}

.bet-bottom-border:last-child{
  border-radius: 0 0 0.3rem 0.3rem;
  border: solid 1px #1d1d1d;
  border-top: 0px;

}

.bet-info{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  background-color: #282c34;
  border-radius: 0 0 0.3rem 0.3rem;


}

.bet-section{
  backdrop-filter: blur(100px);
  background-color: #282c34;
  border-radius: 0 0 0.3rem 0.3rem;


}

.single-bet{
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  border-top: 0;
  border-bottom: 0;
}

.roulette-container{
  position: relative;
  background-color: rebeccapurple;
  width: 560px;
  height: 70px;
  transition: 0.3s;
  opacity: 0.3;
  margin-bottom: 1rem;

}

.roulette-active{
  /* filter: grayscale(50%); */
  opacity: 1;

}

.controller{
  position: absolute;
  left: 50%;
  height: 120%;
  top: -10%;
  width: 2px;
  background-color: white;
  z-index: 2;
}

.roulette{
  position: absolute;
  left: 0;
  top: 0;
  width: 560px;
  height: 70px;
  overflow: hidden;
  background: url('./images/ruletka.png') 0 0 repeat;
  background-position: 35px;
  transition: 5s;

  /* transition-timing-function: cubic-bezier(.44,.93,.18,.86); */
  transition-timing-function: cubic-bezier(0.12, 1.02, 1, 0.99);
  
}

.roulette::before{
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(90deg, rgba(26,28,36,255) 0%, rgba(36,37,56,0) 100%);
}

.roulette::after{
  content: ' ';
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(270deg, rgba(26,28,36,255) 0%, rgba(36,37,56,0) 100%);
}

.bet-history-container{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.2rem;
}


.bet-history{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
}

.prev-rolls{
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin-right: 1rem;
}

.betting-status{
  position: relative;
  top: -10px;
  font-weight: 700;
  line-height: 70px;
  height: 70px;
  width: 18rem;
  background-color: #3D892A;
  color: white;
  transition: 1s;
}

.betting-betable{
  position: relative;
  top: -16px;
  line-height: 70px;
  height: 0px;
  width: 18rem;
  color: white;
  transition: 1s;

}

.betting-status::after{
  position: absolute;
  content: 'Bets open';
  width: 100%;
  left: 0;
}


.Red{
  background-color: #FF3131;
}

.Black{
  background-color: #545454;
}

.Green{
  background-color: #3D892A;
}

.input-box{
  display: flex;
  background-color: rgb(20 20 25);
  border: 1px solid rgb(73, 76, 93);
  border-radius: 0.25rem;
}

.bet-input{
  background-color: transparent;
  border: none;
  outline: none;
  color: aliceblue;
}

.bet-input::placeholder{
  color: rgb(86, 86, 86);
}

.quick-bets{
  display: flex;
  gap: 0.3rem;
  align-items: center;
  padding: 0 0.5rem 0 0.5rem;
  border-left: 1px solid rgb(73, 76, 93);
}

.quick-bets button{
  background-color: rgb(51 53 65);
  color: rgb(146 147 166);
  border: none;
  height: 60%;
  min-width: 3rem;
  border-radius: 0.125rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: 175ms cubic-bezier(.785, .135, .15, .86);
  cursor: pointer;
}

.quick-bets button:hover{
  background-color: rgb(55 58 71);
  color: rgb(192 192 192);
}

.coins{
  width: 40px;
  height: 40px;
  background: url('./images/coins.svg') 0 0 no-repeat;
}

.balance-box{
  display: flex;
  align-items: center;
  background-color: rgb(20 20 25);
  border: 1px solid rgb(73, 76, 93);
  border-radius: 5px;
  padding: 0 15px 0 5px;  
  color: goldenrod;
  height: 2rem;
  font-weight: 500;
}

.navbar{
  display: flex;
  width: 100%;
  height: 5rem;
  background-color: #1d1d1d;
}

