@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #1a1c24;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: medium;
  color: rgb(192 192 192);
  width: 100%;
  /* background-color: #1a1c24; */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat-window{
  position: absolute;
  display: flex;
  left: 0;
  flex-direction: column;
  justify-content: end;
  background-color: #282c34;
  width: 18rem;
  max-width: 80%;
  position: relative;
  height: calc(100vh - 5rem);

}
.chat-window{
  position: fixed;
  transform: translateX(-100%);
  width: 18rem;
  transition: 0.4s;
  z-index: 30;
  /* overflow: hidden; */
}


.chat-open{
  transform: translateX(0);
}




.chat-bottom form{
  display: flex;
  width: auto;
  color: azure;
  /* padding: 4px; */
}

.chat-bottom form input{
  color: aliceblue;
  width: 14rem;
  height: 1.5rem;
  padding: 3px;
  outline: none;
  border: none;
  background-color: rgb(20 20 25);
  padding: 8px;
}

.chat-bottom form input::placeholder{
  color: #3a3d43;
}

.chat-bottom button{
  flex-grow: 1;
  width: 3rem;
  /* height: calc(1.5rem + 6px); */
  color: azure;
  outline: none;
  border: none;
  background-color: rgb(20 20 25);
  cursor: pointer;
}
.chat-toggle{
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width:3rem;
  height: 3rem;
  right: -3rem;
  bottom: 2.5rem;
  outline: none;
  border: none;
  background-color: #282c34;
  padding: 4px;
}

.chat-toggle:active{
  background-color: #333541;
}

.chat-open .arrow{
  transform: rotate(-180deg);
}



.arrow{
  transition: 0.4s;
  height: 1rem;
  width: 1rem;
}

/* .numbers{
  position: absolute;
  height: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin: 0;
  justify-content: end;
  background-color: rgb(255, 255, 255);
  height: 140%;

} */

.chat-messages{
  overflow-y: scroll;
  height: 100%;
  padding: 0.2em;
}

.chat-messages::-webkit-scrollbar {
  width: 7px;
}
 
.chat-messages::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #282c34;
}
 
.chat-messages::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20rem;
  /* outline: 1px solid slategrey; */
}

.single-message{
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.user{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.stranger{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.message-user-id{
  font-size:x-small;
  margin: 0;
  color: #868686;
  margin: 0 5px 0 5px;
}

.message-content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  border-radius: 12px;
  padding: 0.8rem;
  max-width: 75%;
  text-align: left;
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  word-break: break-word;
}

.user .message-content{
  background-color:rgb(51 53 65);
  color: #FFFFFF;
}

.stranger .message-content{
  background-color: rgb(173, 173, 173);
  color: #252525;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: calc(100vh - 5rem); */
  width: 100%;
  max-width: 1500px;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  overflow: hidden;
  transition: 0.4s;

}

.chat-padding{
  padding-left: 18rem;
}

.betting{
  width: 90%;
  height: 3rem;

}

.bettable{
  background-color: greenyellow;
}

.bettablent{
  background-color: rgb(128, 18, 18);
}

.bets-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.bet{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  min-height: 5rem;
  background-color: #353b47;
}

.placed-bets-container{
  /* width: 80rem; */
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-around;
}

.bets{
  
  display: flex;
  justify-content: space-around;
}

.bets-show{
  display: flex;
  justify-content: space-around;
}

.btn-hidden{
  display: none;
}

.bet-container{
  width: 30%;
  overflow: hidden;
  /* position: relative; */
  transition: opacity 0.5s;

}

.bet-container-top{
  border-radius: 0.4rem 0.4rem 0rem 0rem;
}

.bet-btn-main{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  /* border-radius: 0.3rem 0.3rem 0 0; */
  transition: opacity 0.2s;
  background-color: rgb(51 53 65);
}

.bet-container-bottom{
  border-radius: 0rem 0rem 0.3rem 0.3rem;

}

.bet-color-header{
  width: 100%;
  padding: 2rem;
  outline: none;
  border: 0px;
}




.bet-place-text{
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  /* margin: 0 1rem 0 1rem; */
}

.color-circle{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  
}

.bet-place{
  font-weight: 700;
  color: rgb(224, 218, 218);
}



.bet-multiplier{
  font-weight: 700;
  color: rgb(240, 240, 240);
}





.bet-header-Red{
  /* background: linear-gradient(22deg, rgba(154,19,19,1) 0%, rgba(83,12,12,1) 100%); */
  background-color: #FF3131;
  /* background: linear-gradient(90deg, rgba(102,19,19,1) 0%, rgba(255,49,49,1) 100%); */

}
.bet-header-Green{
  /* background: linear-gradient(22deg, rgba(137,222,105,1) 0%, rgba(81,115,71,1) 100%); */
  background-color: #3D892A;
  /* background: linear-gradient(90deg, rgba(48,48,48,1) 25%, rgba(61,137,42,1) 100%); */
  /* background: linear-gradient(90deg, rgba(22,51,14,1) 0%, rgba(61,137,42,1) 100%); */

}
.bet-header-Black{
  /* background: linear-gradient(22deg, rgba(36,37,56,1) 0%, rgba(18,20,34,1) 100%); */
  background-color: #545454;
  /* background: linear-gradient(90deg, rgba(48,48,48,1) 25%, rgba(84,84,84,1) 100%); */
}

/* .win-effect{
  background-color: goldenrod;
} */

.bets-closed{
  opacity: 0.5;
  cursor: not-allowed;
}

.bet-container-winning{
  scale: 1.05;
  /* filter: grayscale(0%); */
  opacity: 1;
  transition: opacity 0.5s;
}


.bet-color-header{
  padding: 1.4rem;
  border-radius: 0.4rem;
  background-color: #252525;
  margin-bottom: 2rem;
}

.bet-bottom-border:last-child{
  border-radius: 0 0 0.3rem 0.3rem;
  border-top: 0px;

}

.bet-info{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  background-color: #282c34;
}

.bet-section{
  backdrop-filter: blur(100px);
  background-color: #282c34;
  border-radius: 0 0 0.3rem 0.3rem;
}

.single-bet{
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  border-top: 0;
  border-bottom: 0;
}

.roulette-container{
  
  position: relative;
  width: 560px;
  height: 70px;
  transition: 0.3s;
  margin: 2rem 0 1rem 0;

}

.roulette-active{
  opacity: 1;
}

.hidden{
  visibility: hidden;
}

.controller{
  position: absolute;
  left: 50%;
  height: 120%;
  top: -10%;
  width: 2px;
  background-color: white;
  z-index: 2;
}

.timer{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 75px;
  height: 75px;
  margin-left: -37.5px;
  margin-top: -21px;
  z-index: 2;
  font-size: 25px;
  font-weight: 700;
  
}
.timer p{
  padding: 0;
  margin: 0;
  font-size: 15px;
}




.roulette{
  position: absolute;
  left: 0;
  top: 0;
  /* width: 560px; */
  width: 100%;
  height: 70px;
  overflow: hidden;
  background: url('./images/ruletka.png') 0 0 repeat;
  /* background-size: auto 70px; */
  /* background-image: url('./images/ruletka.png');
  background-repeat: repeat-x;
  background-size: auto; */
  background-position: 35px;
  transition: 5s;
  opacity: 0.3;

  /* transition-timing-function: cubic-bezier(.44,.93,.18,.86); */
  transition-timing-function: cubic-bezier(0.12, 1.02, 1, 0.99);
  
}


.roulette::before{
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(90deg, rgba(26,28,36,255) 0%, rgba(36,37,56,0) 100%);
}

.roulette::after{
  content: ' ';
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(270deg, rgba(26,28,36,255) 0%, rgba(36,37,56,0) 100%);
}

.bet-history-container{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.2rem;
}


.bet-history{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
}

.previous-rolls{
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-rolls{
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin-right: 1rem;
}

.betting-status{
  position: relative;
  top: -10px;
  font-weight: 700;
  line-height: 70px;
  height: 70px;
  width: 18rem;
  background-color: #3D892A;
  color: white;
  transition: 1s;
}

.betting-betable{
  position: relative;
  top: -16px;
  line-height: 70px;
  height: 0px;
  width: 18rem;
  color: white;
  transition: 1s;

}

.betting-status::after{
  position: absolute;
  content: 'Bets open';
  width: 100%;
  left: 0;
}


.Red{
  background-color: #FF3131;
}

.Black{
  background-color: #545454;
}

.Green{
  background-color: #3D892A;
}

.input-box{
  display: flex;
  background-color: rgb(20 20 25);
  border: 1px solid rgb(73, 76, 93);
  border-radius: 0.25rem;
}

.input-ammount{
  display: flex;

}

.bet-input{
  background-color: transparent;
  border: none;
  outline: none;
  color: aliceblue;
}

.bet-input::placeholder{
  color: rgb(86, 86, 86);
}

.quick-bets{
  display: flex;
  gap: 0.3rem;
  align-items: center;
  padding: 0 0.5rem 0 0.5rem;
  border-left: 1px solid rgb(73, 76, 93);
}

.quick-bets button{
  background-color: rgb(51 53 65);
  color: rgb(146 147 166);
  border: none;
  height: 60%;
  min-width: 3rem;
  border-radius: 0.125rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.quick-bets button:hover{
  background-color: rgb(55 58 71);
  color: rgb(192 192 192);
  transition: 175ms cubic-bezier(.785, .135, .15, .86);

}

.coins{
  width: 40px;
  height: 40px;
  background: url('./images/coins.svg') 0 0 no-repeat;
}

.balance-box{
  display: flex;
  align-items: center;
  background-color: rgb(20 20 25);
  border: 1px solid rgb(73, 76, 93);
  border-radius: 5px;
  padding: 0 15px 0 5px;  
  color: goldenrod;
  height: 2rem;
  font-weight: 500;
}

nav{
  display: flex;
  width: 100%;
  height: 5rem;
  background-color: rgb(36 37 47 );
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem 0 5rem;
  box-sizing: border-box;
}

.nav-title{
  font-size: 40px;
}

.user-dock{
  display: flex;
  gap: 16px;
}

.login-dialog{
  position: absolute;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100vw;
  height: calc(100vh - 5rem);
  background-color: #1d1d1dc0;
  z-index: 10;
}

.login-dialog container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  width: 32rem;
  height: 24rem;
  background-color: #252525;
  padding: 5rem;
}

.login-title{
  font-weight: 700;
}

.login-form{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.15rem;
}

.login-form input{
  background-color: transparent;
  outline: none;
  border: none;
  background-color: rgb(20 20 25);
  border: 1px solid rgb(73, 76, 93);
  border-radius: 0.25rem;
  color: white;
  height: 1.7rem;
  width: 15rem;
  padding: 0.3rem;
}

.login-form button{
  height: 2.3rem;
  padding: 0.3rem;
  background-color: rgb(20 20 25);
  border: 1px solid rgb(73, 76, 93);
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
}

.nick-box{
  color: rgb(220 220 220);
  background-color: rgb(51 53 65);
  box-shadow: inset 0 -3px #1a1c24;
  padding: 0 1.25rem 3px 1.25rem;
  font-weight: 700;
  border-radius: 5px;
  height: 2rem;
  line-height: 0;
}


@media only screen and (max-width: 1400px) {

  nav{
    padding: 0 0.625rem 0 0.625rem ;
  }


  .placed-bets-container{
    /* width: 60rem; */
    width: 100%;

  }
}

@media only screen and (max-width: 1050px) {


  /* .nav-title{
    justify-content: space-between;
  }

  .user-dock{
    flex-grow: 1;
    justify-content: space-around;
  } */

  .chat-padding{
    padding-left: 1.125rem;
  }

  .bet-container{
    border-radius: 0.4rem 0.4rem 0.3rem 0.3rem;
    width: 100%;

  }

  .bets{
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .bets-show{
    gap: 1rem;
    flex-direction: column;
  }

  .bet-container-winning{
    scale: 1;
  }

  .bet-btn-main{
    flex-direction: column;
    gap: 0;
    padding: 0.5rem 0 0 0;
  }

  .bet-place-text{
    flex-direction: column;
    gap: 20%;
  }

  .input-box{
    flex-direction: column;
    border: none;
    background-color: transparent;
    width: 100%;
  }
  .input-ammount{
    background-color: rgb(20 20 25);
    border: 1px solid rgb(73, 76, 93);
  }
  
  .bet-input{
    flex-grow: 1;
  }
  
  .quick-bets{
    padding: 5px 0 5px 0;
    border: none;
  }
  
  .quick-bets button{
    height: 2.5rem;
    width: 100%;
  }


  .bet-multiplier{
    font-size: .6875rem;
    font-weight: 900;
    color: #9293a6;
    text-transform: uppercase;

  }

  .bet-place{
    font-size: .6875rem;
    font-weight: 700;
    color: #dcdcdc;
    text-transform: uppercase;

  }
}

@media only screen and (max-width: 625px) {


  .quick-bets{
    flex-wrap: wrap;
  }

  .bet-btn-main{
    flex-direction: column;
    padding: 0.625rem;
  }

  .quick-bets button{
    min-width: 10%;
    width: 20%;
    flex-grow: 1;
  }

  .previous-rolls{
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .prev-rolls{

    margin: 0 0 0.5rem 0;
  }



  .nav-title{
    display: none;
  }

  .user-dock{
    width: 100%;
    justify-content: space-between;
  }

}
